@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ThicccBoi-bold';
  src: url('/src/assets/fonts/TTF/THICCCBOI-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ThicccBoi-medium';
  src: url('/src/assets/fonts/TTF/THICCCBOI-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ThicccBoi-reqular';
  src: url('/src/assets/fonts/TTF/THICCCBOI-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.bplaceholder::placeholder{
  font-weight: 500 !important;
  font-family: 'ThicccBoi-medium' !important;
}

input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  font-family: 'ThicccBoi-reqular' !important;
}

.tb-medium {
  font-family: 'ThicccBoi-medium' !important;
}

.tb-bold {
  font-family: 'ThicccBoi-bold' !important;
}

html,
body,
#root {
  font-family: 'THICCBOI', sans-serif;
  height: 100% !important;
  width: 100% !important;
  scroll-behavior: smooth;

}

.hover-up {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up:hover {
  transform: translateY(-3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up-md {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up-md:hover {
  transform: translateY(-5px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up-lg {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up-lg:hover {
  transform: translateY(-10px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-down {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-down:hover {
  transform: translateY(3px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.mobile-navbar-shadow {
  box-shadow: rgba(74, 58, 255, 0.18) 0px 4px 10px 0px;
}

.footer-card-shadow {
  box-shadow: rgba(20, 20, 43, 0.09) 0px 2px 2px 0px;
}

.homev1-hero-section-shadow {
  box-shadow: rgba(20, 20, 43, 0.07) 0px 18px 54px 0px;
}

.homev1-card-shadow {
  box-shadow: rgba(8, 15, 52, 0.03) 0px 4px 22px 0px;
}

.homev1-services-shadow {
  box-shadow: rgba(8, 15, 52, 0.07) 0px 4px 22px 0px;
}

/* .section-6-shadow {
  box-shadow: (8, 15, 52, 0.03) 0px 4px 22px 0px !important;
} */

.section-6-shadow {
  box-shadow: 0px 4px 22px rgba(8, 15, 52, 0.06);
}

.card {
  max-width: 374px !important;
}

@media screen and (max-width:836px) {
  .card {
    max-width: 100% !important;
    width: 100%;
  }
}

@media screen and (max-width:346px) {
  .homeV2FirstSection {
    margin-top: -80px;
    background: red;
  }
}

.menuItemShadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

}

.menuItemShadow:hover{
  box-shadow: 0px 2px 2px 0px rgba(20, 20, 43, 0.09);
  transform: translateY(2px);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}